<!DOCTYPE html>
<html>
<head>
	<title>eligibility</title>
</head>
<body>
	<img src="https://thumbs.dreamstime.com/b/group-smiling-girls-boys-students-standing-together-happy-friends-isolated-white-background-flat-cartoon-style-vector-150091547.jpg" style="float: right;">
	<div style="padding-top: 15%">
	<h2>Predicting chance of admission</h2>
	<h3>A Machine Learning Web App Using Flask</h3>
	<p>Prediction : <b>You've a <b>{{p}}</b> chance to get the admission !</b><img src="thumbsup.png" height="2%" width="2%" ></p>
    </div>
</body>
</html>